body {
  background-color: #EEEEEE; }

.fancyDiv {
  padding: 20px;
  margin: 5px;
  border: 1px solid black;
  background-color: #EEEEFF;
  display: inline-block; }
  .fancyDiv h1 {
    color: #3333AA; }
